.venv
logivision.egg-info
OPENAI_API_KEY.txt
logivision/ckpt/*.tar
logivision/ckpt/*.pth
logivision/ckpt/*.pt
logivision/__pycache__

logivision/saved_calibrations/camera/*
logivision/saved_calibrations/corners/*

